html, body, #map-canvas{
	height: 100%;
	margin: 0;
	padding: 0;
}

.banner{
	z-index: 6;
	top:10%;
	position:fixed;
	display: block;
	width:100%;
	

}

h1 {
	text-align: center;
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-size: 48px;
	font-style: normal;
}

#sound-group{
	z-index: 6;
	top:25%;
	position:fixed;
	display: block;
	width:100%;
}

#player {
	display:block;
	margin-left: auto;
	margin-right:auto;

}